* {
    font-family: Arial, Helvetica, sans-serif;
}
i {
    color: white;
}
i:hover {
    color: black;
}
img {
    width: 50%;
    height: 50%;
}
.links {
    height: 80px;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-around;
}
#login:hover {
    background-color: rgb(80, 77, 77);
}
#register:hover {
    background-color: rgb(80, 77, 77);
}
#submit:hover {
    background-color: rgb(80, 77, 77);
}
.picture {
    margin-left: 400px;
}
.footer {
    height: 200px;
}
.footer-images img {
    display: inline;
    width: 30px;
}
/* login page */
#login-form {
    display: flex;
    justify-content: center;
}
#login-footer {
    margin-top: 200px;
}
/*home-page */
#home-carousel {
    background-color: burlywood;
}
.content {
    background-color: burlywood;
}
/*registration page */
#register-form {
    display: flex;
    justify-content: center;
}
#register-form2 {
    display: flex;
    justify-content: center;
}
#register-footer {
    margin-top: 100px;
}
/* checkout page */
td img{
    width: 100px;
    height: 100px;
}
#checkout-table {
    display: flex;
    justify-content: center;
}
#checkout-icon {
    color: white;
}
#checkout-icon:hover {
    color: black;
}
#add:hover {
    background-color: rgb(80, 77, 77);
}
/* products page */
#product-cards {
    display: flex;
    justify-content: center;
}
a[href="checkout-page.html"]:hover {
    background-color: rgb(80, 77, 77);
}
#product-cards a[href="#"]:hover {
    background-color: rgb(80, 77, 77);
}